<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Item:</h1>
      <h4><%= item.name %></h4>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
